@namespace registrar_hima0013.Components.Shared
<nav class="nav flex-column">
    <NavLink href="/students" class="nav-link" Match="NavLinkMatch.All">Students</NavLink>
    <NavLink href="/newstudent" class="nav-link">New Student</NavLink>
</nav>
